body{
    margin: 0;
    padding: 0;
    
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}